@use "variables/colors";
@use "variables/typography";
@use "core/reset";
@use "variables/padding";

.main-section {
  padding: padding.$padding-top padding.$padding-left-right;
}
.main-section__image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
