@use "variables/colors";
@use "variables/typography";
@use "core/reset";
@use "variables/padding";
@use "components/button";
@use "components/main-section";

.main-section__buttons {
  background-color: white;
}
.buttons {
  background-color: white;
}
body {
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
}
